/* lab2-problem1.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.error{
    background: rgb(182, 14, 14);
    font-size: 3em ;
    padding: 1em;
    border-radius: 15px;
    color: white;

}

h1{
    text-align: center;
}

.btn-success{
    height: 60px;
    width: 90px;
    margin: 1em 0 0 9.5em;
}

.numeral{
    font-size: 15em;
    color: #565656;
}

#output {
    background-image: url(../marble.jpg);
    border-radius: 30px;
    border: 5px solid rgba(0, 0, 0, .5);
    text-align: center;
    margin: 0 auto;
    height: 350px;
    width: 800px;
}


